.navbar{
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 15px;

}


.nav-logo{
    height: 100%;
    margin-right: 10px;
}

.nav-title{
    font-size: 1.30rem;
    margin-right: auto;
}

.nav-project {
    font-size: 0.90rem;
    font-weight: 500;
}