.footer{
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 15px;
    justify-content: center;
    
}

@media only screen and (max-width: 600px) {
    .pos-fixed{
        position: fixed;
        bottom: 0;
        width: 100%;
    }

}


